# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Databases
# =========================
*.db
*.bin

# =========================
# User uploads / data
# =========================
uploads/

# =========================
# Environment / secrets
# =========================
.env

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
